body {
  height: 130vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #ff4646;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 42px;
}

main {
  margin: 3.5rem auto;
  text-align: center;
}

main h1 {
  padding-top: 30vh;
  font-size: 36px;
}

main h2 {
  font-style: italic;
}

.logo {
  padding-left: 100px;
}

.logo p {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 36px;
}

nav {
  display: none;
  color: #fff5c0;
  height: 3rem;
  background-color: #ff4646;
  /* display: flex; */
  justify-content: space-between;
  top: 0px;
  position: fixed;
  width: 100%;
  align-items: center;
}

ul {
  display: flex;
}

ul li {
  margin: 0 2rem;
  list-style-type: none;
}
